body{
     background-color: rgb(27, 3, 49);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }
    H1{
        color: rgb(251, 255, 0);
    }


    .CAIXA-PRINCIPAL{
        background-color: rgb(46, 4, 85);
        width: 50%;
        text-align: center;
        padding: 30px;
    }

    button{
        background-color: blue;
        color: black;
        border: none;
        border-radius: 15px;
        padding: 15px;
        transition: background-color 0,3s;
    }

    button:hover{
        background-color: bisque;
        color: aliceblue;
    }